<div class="topnav__brand" aria-label="Profile">
  <img src="../../public/assets/logo.png" style="width: auto; height: auto; max-width: 2rem" class="topnav__logo" alt="logo">
  <button class="fa">
    <i class="topnav__search-icon fa-solid fa-arrow-right"></i>
  </button>
  <span class="topnav__title">Perfil de usuario</span>
</div>
<div class="topnav__search" role="search">
  <button class="topnav__notification-btn" id="notification-btn" title="notification">
    <i class="topnav__search-icon fa-regular fa-bell"></i>
  </button>
</div>